 body{
    font-family: Georgia, 'Times New Roman', Times,sans-serif;
    margin:0;
    background-color: #f2f2f2;
 }
 #container{
    width:800px;
    margin: 30px auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
    height:700px;
    border:1px solid black;
 }
 h1{
    text-align: center;
    margin-bottom: 20px;
 }
 .summary div {
  margin: 25px 0;
  margin-left: 30px;
  width: 200px;
  height: 70px;
  border:1px solid black;
  padding: 10px;
  padding-top: 20px;
  font-family: fantasy;
  font-size: 20px;
  background-color:lightskyblue;
 }
 .summary{
   display: flex;
   flex-direction: row;
 }
 form{
    display: flex;
    flex-direction: column;
    gap:39px;
    margin-bottom: 20px;
    margin-left: 30px;
 }
 form input,form select,form button{ 
       flex: 1 1 100%; 
       padding: 7px;
       font-size:1rem;
 }
 #description{
    width: 500px;
    padding: 9px;
}
form select{
    width: 200px;
    padding: 8px;
    background-color:#ccc;
}
.filters{
   display: flex;
   justify-content: center;
   gap:10px;
   margin-bottom: 20px;
}
button{
   cursor: pointer;
   border-radius: 10px;
   background-color: antiquewhite;
   padding: 2px;
   border: none;
}
.main{
   display: flex;
   flex-direction: row;
   gap:20px;
}
.btnform{
   display: flex;
   flex-direction: row;
   gap:20px;
   justify-content: center;
   margin-bottom: 20px;
}
#entry-list{
   list-style: none;
   padding: 0;
}
#entry-list li{
    margin-left: 10px;
    cursor: pointer;
}
.entry-actions{
   margin-left: 10px;
   cursor: pointer;
   padding: 10px;
}


